@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-gold-50: #f5f6f0;
  --color-gold-100: #e9e9d8;
  --color-gold-200: #d4d3b4;
  --color-gold-300: #bcb888;
  --color-gold-400: #a8a167;
  --color-gold-500: #a1975e;
  --color-gold-600: #83764b;
  --color-gold-700: #6a5c3e;
  --color-gold-800: #5a4d39;
  --color-gold-900: #4f4434;
  --color-gold-950: #2c251c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
