@import "tailwindcss";
@import "@nuxt/ui";

@source inline("bg-neutral-{50,{100..900..100},950}");
@source inline("bg-neutral-{50,{100..900..100},950}/0");
@source inline("bg-neutral-{50,{100..900..100},950}/10");
@source inline("bg-neutral-{50,{100..900..100},950}/20");
@source inline("bg-neutral-{50,{100..900..100},950}/30");
@source inline("bg-neutral-{50,{100..900..100},950}/40");
@source inline("bg-neutral-{50,{100..900..100},950}/50");
@source inline("bg-neutral-{50,{100..900..100},950}/60");
@source inline("bg-neutral-{50,{100..900..100},950}/70");
@source inline("bg-neutral-{50,{100..900..100},950}/80");
@source inline("bg-neutral-{50,{100..900..100},950}/90");
@source inline("bg-opacity-{0,{10..95..5}, 100}");

@theme {
  --color-gold-50: #f5f6f0;
  --color-gold-100: #e9e9d8;
  --color-gold-200: #d4d3b4;
  --color-gold-300: #bcb888;
  --color-gold-400: #a8a167;
  --color-gold-500: #a1975e;
  --color-gold-600: #83764b;
  --color-gold-700: #6a5c3e;
  --color-gold-800: #5a4d39;
  --color-gold-900: #4f4434;
  --color-gold-950: #2c251c;
}

.font-redacted {
  font-family: 'Flow Circular';
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
